<div class="container">
  <h2>Lista de artigos cadastrados</h2>
  <hr>   
  <p>Visualize, atualize ou remova os artigos</p>      
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Nome</th>
        <th>Data de compra</th>
        <th>Valor Pago</th>
        <th>Descrição</th>
        <th>Última atualização</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
        {{#each articles }}
        <tr>
            <td>
              {{dataValues.name}}
              {{#if @first}}
               <span class="badge badge-pill badge-success">New</span>
              {{/if}}
            </td>
            <td>{{dataValues.acquisition}}</td>
            <td>R$ {{dataValues.paid}}</td>
            <td>{{dataValues.description}}</td>
            <td>{{dataValues.updatedAt}}</td>
            <td class="list-action">
                <a href="#"><span class="material-icons" title="Editar">edit</span></a>
                <a href="#" class="articleRemove" id="{{dataValues.id}}" data-toggle="modal" data-target="#deleteArticle"><span class="material-icons" title="Remover">remove_circle_outline</span></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
  </table>


<!-- Modal -->
<div class="modal fade" id="deleteArticle" tabindex="-1" role="dialog" aria-labelledby="deleteArticleLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteArticleLabel">Excluir Artigo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h5 class="form-title">Tem certeza que deseja excluir? </h5>

          <div class="form-group">
              <input type="input" class="form-control" id="name" placeholder="Carregando..." name="name" disabled>
          </div>
          <div class="form-group">
              <input type="date" class="form-control" id="acquisition" placeholder="Carregando..." name="acquisition" disabled>
          </div>
          <div class="form-group">
              <input type="input" class="form-control" id="paid" placeholder="Carregando..." name="paid" disabled>
          </div>
          <div class="form-group">
              <textarea class="form-control" id="description" placeholder="Carregando..." name="description" disabled></textarea>
          </div>
          <div class="form-group">
              <input type="hidden" id="idArticle" value="">
          </div>
          <div class="form-group">
              <span class="respostServen"></span>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="yesExcluirArticle">Sim, Excluir</button>
      </div>
    </div>
  </div>
</div>
</div>